.pro-container{
    display: grid;
    grid-template-columns: 4fr 1fr ;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin: 25px;
}
.selected-container{
    background-color: rgb(253, 217, 150);
    padding: 40px;
 
}